<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_spring_boot_mysql.mapper.DeviceListMapper">
    <resultMap id="DeviceListResult" type="com.example.demo_spring_boot_mysql.model.DeviceList">
        <id property="id" column="id"/>
        <result property="parent" column="parent"/>
        <result property="name" column="name"/>
        <result property="id_template" column="id_template"/>
        <result property="rtu_bus_address" column="rtu_bus_address"/>
        <result property="tcp_gateway_ip" column="tcp_gateway_ip"/>
        <result property="tcp_gateway_port" column="tcp_gateway_port"/>


    </resultMap>
    <select id="findAll" resultMap="DeviceListResult">
        SELECT * FROM device_list
    </select>
    <select id="findById"  parameterType="long" resultType="com.example.demo_spring_boot_mysql.model.DeviceList">
        SELECT * FROM device_list WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.example.demo_spring_boot_mysql.model.DeviceList" >
        INSERT INTO device_list(parent, name, id_template, rtu_bus_address, tcp_gateway_ip,tcp_gateway_port)
        VALUES(#{parent},#{name},#{id_template},#{rtu_bus_address},#{tcp_gateway_ip},#{tcp_gateway_port})
    </insert>
    <update id="update" parameterType="com.example.demo_spring_boot_mysql.model.DeviceList">
        UPDATE device_list
        SET parent = #{parent},name = #{name},id_template = #{id_template},rtu_bus_address= #{rtu_bus_address},tcp_gateway_ip=#{tcp_gateway_ip},tcp_gateway_port=#{tcp_gateway_port}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM device_list WHERE id = #{id}
    </delete>
</mapper>