<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
        <!-- Define any properties if needed -->
    </properties>
    
    <settings>
		<setting name="callSettersOnNulls" value="null"/>
	</settings>
    <typeAliases>
        <!-- <typeAlias type="com.example.demo_spring_boot_mysql.model.User" alias="User"/> -->
        <!-- <typeAlias type="com.example.model.Customer" alias="Customer"/> -->
        <!-- <typeAlias type="com.example.model.Order" alias="Order"/> -->
		<typeAlias alias="mapE" type="java.util.LinkedHashMap" />
    </typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- <property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3307/demo_java" />
				<property name="username" value="root" />
				<property name="password" value="12345" /> -->

				
				<property name="driver" value="${database.driver}" />
				<property name="url" value="${database.url}" />
				<property name="username" value="${database.username}" />
				<property name="password" value="${database.password}" />
				
				<property name="poolMaximumActiveConnections" value="50" />
				<property name="poolMaximumIdleConnections" value="10" />
				<property name="poolMaximumCheckoutTime" value="120000" />
				<property name="poolTimeToWait" value="500" />
				
				
				<property name="poolPingQuery" value="select 1" />
				<property name="poolPingEnabled" value="false" />
				<!-- <property name="Pool.MaximumWait" value="1000" /> -->
				<!-- <property name="autoCommitOnClose" value="true"/> -->
			</dataSource>
		</environment>
	</environments>
    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/CustomerMapper.xml"/>
        <!-- <mapper resource="com/example/mapper/OrderMapper.xml"/> -->
    </mappers>
</configuration>
